body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #9fa496;
    font-family: 华文新魏，sans-serif;
    /*在电脑中没有合适字体的时候时自动选择相似字体*/
}
img{
    width: 100%;
    height: 100%;
}
a{
    color: #333333;
    text-decoration: none;
    /*去掉a标签中字体默认样式*/
}
.header{
    /*width: 1350px;*/
    /*height: 60px;*/
    height: 50px;
    width: 100%;
    padding: 5px 0px ;
    background: #1c2723;
}
.headerbox{
    /*width: 80%;*/
    /*height: 100%;*/
    /*background: #99cc99;*/
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 50px;
}
.headerbox h3{
    /*width: 160px;*/
    height: 100%;
    float: left;
    /*background: #ffe85f;*/
    font-size: 22px;
    margin-right: 60px;
    color: #fff;
    text-align: center; /*居中*/
    line-height: 50px;
    font-style: normal;
}
.headerbox .nav{
    /*width: 600px;*/
    /*去掉宽度，自适应*/
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    /*background: #f8f8f8;*/
}
.nav li{
    /*导航栏中的8个标签*/
    float: left;
    margin-right:36px;
}
.nav li a:hover{
    color: #00c1de;
    /*导航栏里的选项当鼠标放上去会变色*/
}
.headerbox .search{
    width: 50px;
    height: 100%;
    float: right;
    /*background: #dca24f;*/
}
.main{
    width: 1248px;
    height: auto;
    min-height: 1600px;
    background: #9fa496;
    margin: 20px auto;
    overflow: hidden;
}
.main .mainleft{
    width: 938px;
    height: auto;
    min-height: 600px;
    float: left;
    margin-right: 10px;
}
.mainleft .leftfirst{
    /*个人博客日记标题那一个块块*/
    width: 100%;
    height: auto;
    background: #fdfff8;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
}
.leftfirst .pic{
    width: 160px;
    height: 100px;
    background: #99cc99;
}
.leftfirst .text{
    width: 610px;
    /*height: 100%;*/
    background: #fdfff8;
    flex-direction: column;
    display: flex;
    padding: 10px;
}
.leftfirst .text h1{
    font-size: 22px;
    margin-bottom: 15px;
}
.main .passage{
    width: 938px;
    height: auto;
    min-height: 600px;
    background: #fdfff8;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px;
}
.main .passage .title{
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid #100b10;
    color: #666666;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}
.main .passage .passlist{
    width: 100%;
    height: auto;
    background: #fdfff8;
    margin-top: 20px;
    padding-bottom: 10px;
}
.main .passage .passlist li{
    height: 198px;
    margin-top: 12px;
    background: #fdfff8;
}
.main .passage .passlist li h3:hover{
    color: #00c1de;
}
.main .passage .passlist li .passpic{
    width: 100%;
    height: 164px;
    background: #fdfff8;
    display: flex;
}
.passlist li .passpic .pic{
    width: 212px;
    height: 134px;
    background: #00c1de;
    margin-top: 15px;
}
.passlist li .passpic .pic img{
    width: 100%;
    height: 100%;
}
.passlist .neirong{
    width: 650px;
    height: 134px;
    background: #fdfff8;
    margin-top: 15px;
}
.neirong .wenzi{
    font-size: 14px;
    color: #666;
    margin-left: 15px;
    margin-top: 15px;
}
.neirong .date{
    width: 600px;
    height: 60px;
    font-size: 15px;
    color: #999;
    line-height: 60px;
}
.date img{
    width: 42px;
    height: 42px;
    background: #f3a6ff;
    float: left;
    border-radius: 50%;
    margin: 10px 15px 20px 15px;
    border: 1px solid #12b7de;
}
.date .readmore{
    width: 84px;
    height: 33px;
    background: #12b7de;
    font-size: 15px;
    border-radius: 3px;
    float: right;
    line-height: 33px;
    text-align: center;
    margin-top: 15px;

}
.main .mainright{
    width: 300px;
    height: auto;
    min-height:390px;
    /*background: #fdfff8;*/
    float: right;
    border-radius: 5px;
}
.main .mainrightfirst{
    width: 100%;
    height: 350px;
    background: #fdfff8;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.mainright .title {
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid #100b10;
    color: #666666;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}
.title::before{
    content: '';
    height: 2px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: -1px;
    background: #333333;
}
.mainrightlist{
    width: 100%;
    /*height:350px;*/
    background: #fdfff8;
    margin-top: 15px;
}
.mainrightlist .pictext {
    width: 260px;
    height: 130px;
    background: #ffcf53;
    margin-bottom: 30px;
    position: relative;

}
.mainrightlist li img{
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/

}
.mainrightlist li p{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 30px;
    margin-left: 40px;
}
.mainright .textlist li{
    height: 36px;
    background: #f8f8f8;
    border-radius: 5px;
    margin-top: 12px;
    margin-left: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 0px 0px 0px 25px;
}
.mainrightlist .pictext li a:hover img{
    transform: scale(1.2,1.2);
}
.mainrightlist .pictext li a img{
    transition: transform .2s ease-in;
}
.mainright .textlist li::before{
    content: '';
    width: 16px;
    height: 16px;
    display:block;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    color: #333333;
    background: #ffcf53;
    position: absolute;
    left: 5px;
    top: 5px;
}
.mainright .textlist >li:first-child::before{
    content: '1';
    background: #ffcf53;
}
.mainright .textlist >li:nth-child(2)::before{
    content: '2';
    background: #ffcf53;
}
.mainright .textlist >li:nth-child(3)::before{
    content: '3';
    background: #ffcf53;
}
.mainrightsecond{
    width: 260px;
    min-height:200px;
    height: auto;
    background: #fdfff8;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}
.mainrightsecond .picture{
    width: 260px;
    height: 130px;
    background: #ffcf53;
    position: relative;
    margin:20px 0;
}
.mainrightsecond .picture img{
    position: absolute;
    top: 0px;
    left: 0px;
}
.mainrightsecond .picture p{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 15px;
    line-height: 1.5;
    height: 45px;
    width: 100px;
    background: #FF0000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp:2;
    display: none;
    /*z-index: 99999;*/
}
.mainrightsecond .text{
    width: 260px;
    height: 80px;
    background: #fdfff8;
}
.text a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.text a img{
    width: 74px;
    height: 64px;
}
.text a p{
    width: auto;
    height: 100%;
    color: #333333;
    line-height: 1.5;
    margin-top: 20px;
    padding: 10px;
}
.mainright .mainrightthird{
    width: 260px;
    height: 176px;
    background: #fdfff8;
    margin-top: 10px;
    padding: 24px 22px;
    border-radius: 5px;
}
.mainright .mainrightthird .baozhu{
    width: 260px;
    height: 176px;
    overflow: hidden;
}
.mainright .mainrightthird a{
    width: 260px;
    height: 176px;
    overflow: hidden;
}
.mainright .mainrightthird a img{
    width: 100%;
    height: 100%;
}
.mainright .mainrightthird a:hover img{
    transform: scale(1.2,1.2);
}
.mainright .mainrightthird a img{
    transition: transform .2s ease-in;
}
.mainright .guess{
    height: auto;
    min-height: 300px;
    /*background: #fdfff8;*/
    /*float: right;*/
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.mainright .guess .title {
    height: 21px;
    width: 100%;
    line-height: 21px;
    border-bottom: 1px solid #100b10;
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}
.guess .guesslist{
    width: 260px;
    height: 240px;
    /*background: #fdfff8;*/
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.guesslist li{
    height: 38px;
    /*background: #fdfff8;*/
    border-radius: 5px;
    margin-top: 12px;
    margin-left: 10px;
    position: relative;
}
.guess .guesslist li a{
    margin-left: 10px;
}
.guess .guesslist li::before{
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top:10px;
    overflow: hidden;
}
.mainright .mainrightfifth{
    width: 260px;
    height: 176px;
    background: #fdfff8;
    margin-top: 10px;
    padding: 24px 22px;
    border-radius: 5px;

}
.mainright .mainrightfifth .baozhu2{
    width: 260px;
    height: 176px;
    overflow: hidden;
}
.mainright .mainrightfifth a{
    width: 260px;
    height: 176px;
    overflow: hidden;
}
.mainright .mainrightfifth a img{
    width: 100%;
    height: 100%;
}
.mainright .mainrightfifth a:hover img{
    transform: scale(1.2,1.2);
}
.mainright .mainrightfifth a img{
    transition: transform .2s ease-in;
}
.point{
    width: 100%;
    height: auto;
    min-height: 500px;
    background: #fdfff8;
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}
.point.title {
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid #100b10;
    color: #666666;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}
.title::before{
    content: '';
    height: 2px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: -1px;
    background: #333333;
}
.point .info{
    width: 100%;
    height: 460px;
    padding: 10px;
    box-sizing: border-box;
}
.point .info li{
    font-size: 15px;
    color: #333;
    line-height: 1.5;
}
.point .info .erweima{
    width: 180px;
    height: 180px;
    margin: 10px auto;
}
.bottom{
    width:1350px ;
    height: 188px;
    background: #1c2723;
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #73777a;
    border-top: 10px solid #00c1de;
}
.bottom .picture1{
    height: 128px;
    width: 106px;
    /*background: #ffcf53;*/
    margin-right: 20px;
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    flex: none;
}
.picture1 img{
    width: 100%;
    height: 106px;
}
.picture1 p{
    width: 100%;
    height:22px ;
    text-align: center;
}
.bottom .picture2{
    height: 128px;
    width: 106px;
    /*background: #f3a6ff;*/
    flex: none;
    display: flex;
    flex-direction: column;
}
.picture2 img{
    width: 100%;
    height: 106px;
}
.picture2 p{
    width: 100%;
    height:22px ;
    text-align: center;
}
.bottom .wenben{
    width: auto;
    height: 128px;
    min-width: 200px;
    /*background: #99cc99;*/
    margin-left: 30px;
    font-size: 14px;
}
.wenben .announcement{
    color: #00c1de;
    font-size: 16px;
    font-weight: bolder;
    line-height: 1.5;
}
