body, div, object, iframe, h1, h2, h3, h4, h5, h6, a,
p, pre, del, em, dl, dt, dd, form, ul, ol, li, img
label, table, caption, tr, th, td {
    margin: 0px;
    padding: 0px;
    font-family: 宋体;
    /*sans-serif表示在浏览器不支持改字体的情况下，自动选择类似字体。*/
    list-style: none;
}
body{
    background: #e9eaed;
}
a{
    color: #333333;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}
/*header 博客主题设置*/
.header{
    /*width: 1350px;*/
    /*height: 60px;*/
    height: 50px;
    width: 100%;
    padding: 5px 0px ;
    background: #1c2723;
}
.headerbox{
    /*width: 80%;*/
    /*height: 100%;*/
    /*background: #99cc99;*/
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 50px;
}
.headerbox h3{
    /*width: 160px;*/
    height: 100%;
    float: left;
    /*background: #ffe85f;*/
    font-size: 22px;
    margin-right: 60px;
    color: #fff;
    text-align: center; /*居中*/
    line-height: 50px;
    font-style: normal;
}
.headerbox .nav{
    /*width: 600px;*/
    /*去掉宽度，自适应*/
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    /*background: #f8f8f8;*/
}
.nav li{
    /*导航栏中的8个标签*/
    float: left;
    margin-right:36px;
}
.nav li a:hover{
    color: #521ac6;
    /*导航栏里的选项当鼠标放上去会变色*/
}
.headerbox .search{
    width: 50px;
    height: 100%;
    float: right;
    /*background: #dca24f;*/
}
.main{
    width: 1160px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    min-height: 800px;
    background: #ffffff;
}
.main > div{
    width: 1160px;
    margin-top: 10px;
    overflow: hidden;
}
.main > form > .avatar{
    overflow: hidden;
}
.main > form > .avatar > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 10px;
    opacity: 0.7;
}
.main > form > .avatar > .avatarHot{
    opacity: 1;
}
.main .content{
    overflow: hidden;
    margin-bottom: 20px;
}
.main .content span {
    margin: 10px 0;
    display: inline-block;
}
.main .content > textarea{
    width: 1150px;
    min-height: 300px;
    resize:none;
}
.main .content > input{
    padding: 4px 16px;
    margin: 10px 0 0 10px;
    box-sizing: border-box;
    font-style: normal;
    border: 0;
    border-radius: 5px;
    display: block;
    float: right;
    color: #ffffff;
    background: #000000;
}
.main .comment{
    width: 1140px;
    padding: 20px 10px;
    overflow: hidden;
    border-bottom: 1px solid #e9eaed;
}
.comment > .commentL{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.comment > .commentL > img{
    border-radius: 50%;
}
.main .comment .commentR{
    width: 1080px;
    float: left;
    overflow: hidden;
}
.main .comment .commentR time{
    color: #e9eaed;
    display: block;
    float: right;
}
.main .comment .commentR > p{
    width: 1080px;
    margin-bottom: 18px;
}
.main .reply{
    width: 1160px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom:1px dashed #e9eaed;
    overflow: hidden;
}
.main .reply p{
    width: 1140px;
    height: 20px;
    padding: 10px 10px;
    background: #e9eaed;
    float: left;
}
.retitle{
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e9eaed;
    position: relative;
}
.retitle:hover::before{
    width: 75px;
    transition: width .5s linear;
}
.retitle:before{
    content: '';
    display: block;
    width: 65px;
    height: 2px;
    background: #333333;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.bottom{
    width:1350px ;
    height: 188px;
    background: #1c2723;
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #73777a;
    border-top: 10px solid #00c1de;
}
.bottom .picture1{
    height: 128px;
    width: 106px;
    /*background: #ffcf53;*/
    margin-right: 20px;
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    flex: none;
}
.picture1 img{
    width: 100%;
    height: 106px;
}
.picture1 p{
    width: 100%;
    height:22px ;
    text-align: center;
}
.bottom .picture2{
    height: 128px;
    width: 106px;
    /*background: #f3a6ff;*/
    flex: none;
    display: flex;
    flex-direction: column;
}
.picture2 img{
    width: 100%;
    height: 106px;
}
.picture2 p{
    width: 100%;
    height:22px ;
    text-align: center;
}
.bottom .wenben{
    width: auto;
    height: 128px;
    min-width: 200px;
    /*background: #99cc99;*/
    margin-left: 30px;
    font-size: 14px;
}
.wenben .announcement{
    color: #00c1de;
    font-size: 16px;
    font-weight: bolder;
    line-height: 1.5;
}
